.blog-page {
  max-width: 700px; /* Maximale Breite des Containers */
  margin: 0 auto;   /* Zentriert den Container auf der Seite */
  padding: 20px;    /* Füge etwas Abstand innen hinzu */
  background-color: #fff;  /* Weißer Hintergrund für den Bereich */
  border-radius: 8px; /* Optional: Abgerundete Ecken für den Container */
}

.blog-page h1 {
  font-size: 2rem; /* Vergrößere die Schriftgröße der Überschrift */
  text-align: left; /* Zentriere die Überschrift */
}

.blog-page div {
  text-align: left;
  line-height: 1.6; /* Zeilenhöhe für bessere Lesbarkeit */
}
.special-image {
  max-width: 100%;     /* Bild nicht breiter als der Container */
  height: auto;        /* Höhe wird automatisch angepasst */
  display: block;      /* Verhindert, dass das Bild als Inline-Element angezeigt wird */
  margin-top: 20px;    /* Abstand nach oben */
}

.image-url {
  font-size: xx-small;
  text-align: left;
}
.text-to-left-container {
  display: flex; /* Aktiviert Flexbox */
  align-items: center; /* Zentriert Buttons vertikal */
  gap: 10px; /* Fügt einen Abstand von 10px zwischen den Buttons ein */
}

.text-to-left {
  display: block;        /* Macht den Link zu einem Block-Element, damit er in einer eigenen Zeile steht */
  text-align: left;      /* Setzt den Text im Link linksbündig */
  margin: 5px 0;         /* Optional: Fügt einen kleinen Abstand über und unter den Links hinzu */
  color: #007BFF;        /* Setzt die Textfarbe des Links auf Blau */
  text-decoration: none; /* Entfernt die Unterstreichung des Links */
  margin-top: 0;   /* Entfernt den oberen Abstand */
  margin-bottom: 0; /* Entfernt den unteren Abstand */
  padding: 0; 
}

.text-to-left:hover {
  color: #0056b3;        /* Setzt die Hover-Farbe des Links auf ein dunkleres Blau */
  text-decoration: underline; /* Fügt eine Unterstreichung hinzu, wenn der Benutzer mit der Maus über den Link fährt */
}



