.placeholder {
  padding: 20px;
  margin-top: 0;
  padding: 0;
}

.page-title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
}

.image-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-image {
  width: 550px;
  height: auto;
}

.side-image {
  width: 200px;
  height: auto;
  position: absolute;
  top: 50%;
  transform: translateY(-120%);
}

.side-image.left {
  left: 25%;
}

.side-image.right {
  right: 25%;
}

.button-container {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

@media (max-width: 600px) {
  .button-container {
    flex-direction: column; /* Buttons untereinander anordnen */
    align-items: center;/* Zentriert die Buttons */
    gap: 20px; /* Größere Lücke zwischen den Buttons */
    margin-bottom: 30px; /* Größere Lücke unter den Buttons */
  }
  .placeholder{
    padding: 20px;
    margin-top: 0;
    padding: 0;
  }
  .page-title {
    font-size: clamp(16px, 5vw, 28px);/* Reduziert die Schriftgröße */
    font-weight: bold;
    margin-bottom: 15px;
    text-align: center; /* Zentriert die Überschrift */
    word-wrap: break-word; /* Bricht lange Wörter */
    word-break: break-word; /* Umbruch auch mitten im Wort */
    white-space: normal; /* Zeilenumbruch erlauben */
    width: auto; /* Verhindert feste Breite */
    max-width: 100%; /* Passt die Breite an das Gerät an */
    padding: 0 10px; /* Fügt Innenabstand hinzu */
    box-sizing: border-box; /* Sorgt dafür, dass Padding und Breite zusammen berücksichtigt werden */
  }
  
  
}

@media (max-width: 400px) {
  .page-title {
    font-size: clamp(16px, 5vw, 28px); /* Reduziert die Schriftgröße */
    font-weight: bold;
    margin-bottom: 15px;
    text-align: center; /* Zentriert die Überschrift */
    word-wrap: break-word; /* Bricht lange Wörter */
    word-break: break-word; /* Umbruch auch mitten im Wort */
    white-space: normal; /* Zeilenumbruch erlauben */
    width: auto; /* Verhindert feste Breite */
    max-width: 100%; /* Passt die Breite an das Gerät an */
    padding: 0 10px; /* Fügt Innenabstand hinzu */
    box-sizing: border-box; /* Sorgt dafür, dass Padding und Breite zusammen berücksichtigt werden */
  }
  
  
}

button {
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: gray;
  color: white;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

button:hover {
  background-color: darkgray;
}


@media (max-width: 2000px) {
  .side-image.left {
    left: 25%;
  }

  .side-image.right {
    right: 25%;
  }

  .side-image {
    width: 200px;
  }
}

@media (max-width: 1600px) {
  .side-image.left {
    left: 26%;
  }

  .side-image.right {
    right: 26%;
  }

  .side-image {
    width: 200px;
  }
}

@media (max-width: 1400px) {
  .side-image.left {
    left: 22%;
  }

  .side-image.right {
    right: 22%;
  }
}

@media (max-width: 1200px) {
  .side-image.left {
    left: 20%;
  }

  .side-image.right {
    right: 20%;
  }

  .side-image {
    width: 200px;
  }
}

@media (max-width: 900px) {
  .side-image.left {
    left: 10%;
  }

  .side-image.right {
    right: 10%;
  }

  .side-image {
    width: 200px;
  }
}

@media (max-width: 680px) {
  .side-image {
    display: none;
  }
}

@media (max-width: 600px) {
  button {
    font-size: 14px;
    padding: 8px 12px;
  }
}
